<style>
    div#register-page {
        line-height: 0.5;
        width: 700px;
        margin: 0 auto;
    }
    div#register-page > div.title-separator {
        height: 10px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
    }    
    div#register-page > span {
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    div.register-content {
        border-radius: 10px;
        padding: 15px 0;
        line-height: 1.5;
        background: rgba(6,0,0,0.6);
        margin: 15px auto;
        display: block;
        width: 400px;
    }
    div.register-content > form > div.container > div:first-child {
        padding-top: 7px;
    }
    div.register-content > form > div.container > div.col-sm-8 > input {
        text-align: center;
        text-transform:capitalize;
    }
    div.register-content > form > div.container > div.col-sm-8 > div {
        text-align: center;
        margin-bottom: 7px;
        min-height: 18px;
    }
</style>
@model DailyTaskReport.Models.AccountModel

<div id="register-page">
    <span>Register</span> ─ Fill up the form below ...
    <div class="title-separator"></div>
    <div class="register-content">
        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @id = "frmRegister", @class = "frmShow" }))
        {
            <div class="container">
                <div class="col-sm-4">ID no.</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.idNo, new { @placeholder = "id no.", @class = "form-control form-controlFor", @maxlength = 8 })
                    <div>
                        @Html.ValidationMessageFor(m => m.idNo)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-4">First Name</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.fName, new { @placeholder = "first name", @class = "form-control form-controlFor" })
                    <div>
                        @Html.ValidationMessageFor(m => m.fName)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-4">Middle Name</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.mName, new { @placeholder = "middle name", @class = "form-control form-controlFor" })
                    <div>
                        @Html.ValidationMessageFor(m => m.mName)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-4">Last Name</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.lName, new { @placeholder = "last name", @class = "form-control form-controlFor" })
                    <div>
                        @Html.ValidationMessageFor(m => m.lName)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-4">Birthdate</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.birthdate, new { @placeholder = "birthdate", @class = "form-control form-controlFor", @type = "date"})
                    <div>
                        @Html.ValidationMessageFor(m => m.birthdate)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-4">Contact No.</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ContactNo, new { @placeholder = "contact no.", @class = "form-control form-controlFor" })
                    <div>
                        @Html.ValidationMessageFor(m => m.ContactNo)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-12" style="text-align: right;">
                    <div style="display: inline-block; padding: 0 10px; border-right: 1px solid white; margin-right: 10px;">
                        @Html.ActionLink("Back to login page","Index", "Index", new { @style="text-decoration: none; color: lightgrey;"})
                    </div>
                    <button class="bgcred fontWhite" type="submit">Submit</button>
                </div>
            </div>
        }
    </div>
</div>