@model DailyTaskReport.Models.AccountModel
<div class="container">
    <div class="col-sm-4">ID no.</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.idNo, new { @placeholder = "id no.", @class = "form-control form-controlFor numberOnly", @maxlength = 8 })
        <div>
            @Html.ValidationMessageFor(m => m.idNo)
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">First Name</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.fName, new { @placeholder = "first name", @class = "form-control form-controlFor namesOnly" })
        <div>
            @Html.ValidationMessageFor(m => m.fName)
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">Middle Name</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.mName, new { @placeholder = "middle name", @class = "form-control form-controlFor namesOnly" })
        <div>
            @Html.ValidationMessageFor(m => m.mName)
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">Last Name</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.lName, new { @placeholder = "last name", @class = "form-control form-controlFor namesOnly" })
        <div>
            @Html.ValidationMessageFor(m => m.lName)
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">Birthdate</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.birthdate, new { @placeholder = "birthdate", @class = "form-control form-controlFor", @type = "date" })
        <div>
            @Html.ValidationMessageFor(m => m.birthdate)
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">Contact No.</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.ContactNo, new { @placeholder = "contact no.", @class = "form-control form-controlFor numberOnly", @maxlength = 12 })
        <div>
            @Html.ValidationMessageFor(m => m.ContactNo)
        </div>
    </div>
</div>

<div class="container credentialClass" style="height: 0px;">
    <div class="col-sm-4">User</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.credentials.user, new { @placeholder = "user", @class = "form-control form-controlFor", @readonly = true, @tabindex = -1 })
        <div>
            @Html.ValidationMessageFor(m => m.credentials.user)
        </div>
    </div>
</div>
<div class="container credentialClass" style="height: 0px;">
    <div class="col-sm-4">Password</div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.credentials.password, new { @placeholder = "password", @class = "form-control form-controlFor", @type = "password" })
        <div>
            @Html.ValidationMessageFor(m => m.credentials.password)
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-12" style="text-align: right;">
        <div style="display: inline-block; padding: 0 10px; border-right: 1px solid white; margin-right: 10px;">
            @Html.ActionLink("Back to login page", "Index", "Index", null, new { @class = "homeLink" })
        </div>
        <button class="bgcred fontWhite" type="submit">Submit</button>
    </div>
</div>

<script>
    $(function () {

        if ($('.input-validation-error:first'))
        {
            $('.input-validation-error:first').focus();
            $('#credentials_password').val("");
        }

        if ("@ViewBag.errorMsg" != "") {
            promptMsg("@ViewBag.errorMsg", false);
        }
        numberOnly();
        namesOnly()
        if ($('#idNo').val().length == 8 && $('#lName').val().length > 1)
            $('.credentialClass').attr('style', 'height: 63px');
        else
            $('.credentialClass').attr('style', 'height: 0px');

        $('#idNo').focusout(function () {
            if ($('#idNo').val().length == 8 && $('#lName').val().length > 1)
                generateUser();
            else {
                $('.credentialClass').attr('style', 'height: 0px; transition-duration: 0.5s;');
                $('#credentials_password').val('');
            }
        });

        $('#lName').focusout(function () {
            if ($('#idNo').val().length == 8 && $('#lName').val().length > 1)
                generateUser();
            else {
                $('.credentialClass').attr('style', 'height: 0px; transition-duration: 0.5s;');
                $('#credentials_password').val('');
            }
        });
    });
    function generateUser() {
        $('.credentialClass').attr('style', 'height: 63px; transition-duration: 0.5s;');
        $('#credentials_user').val($('#lName').val().substr(0, 4).toUpperCase() + $('#idNo').val())
    }
</script>