@model DailyTaskReport.Models.user_tasks
@{  foreach (var data in Model.tasks)
    {
        <div>
            <div class="date-content ">@data.task_date.ToString("D")</div>
            <div class="data-content">
                @foreach (var tasks in data.taskLists)
                {
                    <div class="container col-md-12">
                        <div class="col-xs-6">
                            <div class="container col-xs-12">
                                <div class="col-xs-5">
                                    Time
                                </div>
                                <div class="col-xs-7">
                                    @tasks.timeFrom ─ @tasks.timeTo
                                </div>
                            </div>
                            <div class="container col-xs-12">
                                <div class="col-xs-5">Work Order No.</div>
                                <div class="col-xs-7">@tasks.woNo</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-3">
                                Task
                            </div>
                            <div class="col-xs-9" style="padding-left: 0;">
                                <textarea style="width: 100%; resize: none;" readonly draggable="false">@tasks.task</textarea>
                            </div>
                        </div>
                        @using (Html.BeginForm("removeTask", "Task", FormMethod.Post, new { @style = "display: normal;" }))
                        {
                            @Html.TextBoxFor(m => data.task_date);
                            @Html.TextBoxFor(m => tasks.taskID, new { @style = "display: normal;" });
                            <button style="background: none;"
                                    type="button" onclick="promptMsg('delete task feature is not yet available')">
                                <img src="~/Images/trash-bin.svg" height="28"/>
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
    }

    if (ViewBag.message != null)
    {
        <div style="text-align: center;">@ViewBag.message</div>
    }
}