@model DailyTaskReport.Models.user_tasks
<style>
    div#task-page {
        line-height: 0.5;
    }
    div#task-page > div.title-separator {
        height: 10px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
    }
    div#task-page > span {
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    div.task-content {
        padding: 20px;
        line-height: 1.5;
        background: rgba(36,0,0,0.3);
        margin-top: 15px;
    }
    div.date-content {
        background: rgba(36,0,0,0.9);
        padding: 10px;
        display: inline-block;
    }
</style>
<div id="task-page">
    <span>Task</span>
    <div class="title-separator"></div>
    <div class="task-content">
        @{ foreach(var data in Model.tasks)
            {
                <div class="date-content">@data.task_date.ToString("D")</div>
                <div style="border: 1px solid orange;">
                    @foreach(var tasks in data.taskLists)
                    {
                    <div style="border: 1px solid white; padding: 10px; max-width: 500px; display: inline-block">
                        <span>Time : </span> @tasks.timeFrom ─ @tasks.timeTo <br />
                        <span>Work Order No. : </span> @tasks.woNo <br />
                    </div>
                    <div style="border: 1px solid white; padding: 10px; display: inline-block;">
                        <span>Task : </span> @tasks.task
                    </div>
                    <br />
                    }
                </div>
            }
        }
    </div>
</div>
<script>
    $(function () {
        toggleUIBlocker();
    });
</script>
